[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Visual Tracking with Discriminative Correlation Filter
[access "refs/*"]
	owner = group user/timfornell
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/timfornell
	label-Verified = -1..+1 group user/timfornell
	push = group user/timfornell
	read = group user/timfornell
	rebase = group user/timfornell
	removeReviewer = group user/timfornell
	submit = group user/timfornell
[access "refs/heads/*"]
	create = group user/timfornell
	push = +force group user/timfornell
	pushMerge = group user/timfornell
	read = group user/timfornell
[access "refs/tags/*"]
	push = group user/timfornell
	push = +force group user/timfornell
